h1 {
  color: rgb(117, 51, 124);
}

table, th, td {
   border: 2px solid white;
  border-collapse: collapse;
}

th { 
  background-color:#F0F8FF;
  color:rgba(107, 130, 129, 0.112);
}
td, th { 
  padding:5px;
  border:1px solid #0000FF;
}
