h1 {
  color: rgb(117, 51, 124);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th { 
  background-color:#000;
  color:rgba(107, 130, 129, 0.112);
}
td, th { 
  padding:5px;
  border:1px solid #000;
}
